<ion-header>
  <ion-toolbar>
    <center><ion-title>Valor liberado</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     
      <ion-card-title><ion-icon name="arrow-back-outline"></ion-icon><ion-icon name="home-outline"></ion-icon>APROVADO</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Parabens o seu valor foi liberado e dentro de 24 horas estará em sua conta obrigado !!!
    </ion-card-content>
  </ion-card>

 
  
</ion-content>
