<ion-header>
  <ion-toolbar>
    <ion-title>DADOS BANCARIOS
    </ion-title>
  </ion-toolbar>
</ion-header> 
 <ion-list>
<ion-input placeholder="NOME" max="20"></ion-input>
<ion-input placeholder="CPF" maxlength="11"type="text" value=""></ion-input>
<ion-input placeholder="AGENCIA" maxlength="5"></ion-input>
<ion-input placeholder="CONTA" maxlength="7"></ion-input>
<ion-item>
  <ion-label>Corrente</ion-label>
  <ion-checkbox color="dark"></ion-checkbox>
  <ion-item>
    <ion-item>
      <ion-label>Poupança</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>
      </ion-item></ion-item></ion-item>


<ion-button href="valor" (click)="btnClicked3()"fill="outline" expand="block" color="yellow">SIMULADOR</ion-button>
</ion-list> 

<ion-footer>

</ion-footer>