<ion-header>
    <ion-toolbar>
      <ion-title size="large">CONFIGURAÇÕES</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item>
    <ion-icon name="cellular-outline"></ion-icon>
    <ion-label> DADOS MOVEIS</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="cloud-download-outline"></ion-icon>
    <ion-label> ECONOMIA DE DADOS</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="finger-print-outline"></ion-icon>
    <ion-label> BIOMETRIA</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="trash-outline"></ion-icon>
    <ion-label> LIMPAR CACHE AUTOMATICO</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="trash-outline"></ion-icon>
    <ion-label> POLITICA DE PRIVACIDADE</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> VERSÃO 1.0</ion-label>
  </ion-item>
  