<ion-header>
  <ion-toolbar>
    <center><ion-title>Seu Banco</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<img width="180" height="150" src="../../assets/img/safra.png">
<img width="180" height="150" src="../../assets/img/bradesco.jfif">
<ion-item>
  <ion-label>SAFRA</ion-label>
  <ion-checkbox color="dark" ></ion-checkbox>
  <ion-item>
    <ion-item>
      <ion-label>BRADESCO</ion-label>
      <ion-checkbox color="dark" ></ion-checkbox>
      </ion-item></ion-item></ion-item>
<ion-button href="info-conta"(click)="btnClicked2()" expand="full" fill="outline" color="dark">Escolha seu o Banco</ion-button>

</ion-content>

