<ion-header>
  <ion-toolbar>
    <center><ion-title>Valor desejado</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
  <ion-item>
      <ion-label stacked>SEU SALARIO</ion-label>
      <ion-input id="salario" type="number" placeholder="Digite aqui"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Valor da parcela</ion-label>
      <ion-input id="valorp" type="number" placeholder=""></ion-input>
    </ion-item>

    <ion-toolbar>
      <ion-title>PRAZO</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title>TAXA DE JUROS %</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label >Valor liberado</ion-label>
      <ion-input id="valorl" type="number"></ion-input>
    </ion-item>
  
    <ion-button href="valor-lib" (click)="btnClicked4()"fill="outline" expand="block" color="yellow">FINALIZAR</ion-button>
  </ion-list>
</ion-content>
